* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #FEE5E5;
}

.container {
  background-color: green;
}

.container-fluid {
  /*padding-left: 7rem;
  padding-right: 7rem;*/
  /*padding-bottom: 4rem;
  padding-top:4rem;*/
}

h1 {
  font-family: helvetica;
  font-size: 4.8rem;
  margin-bottom: 0rem;
  padding: 1rem 0 1rem 0;
}

h2 {
  font-family: helvetica;
  font-size: 3.6rem;
  margin-bottom: 0rem;
  padding: 1rem 0 1rem 0;
}

h3 {
  font-size: 3.0rem;
  margin-bottom: 0rem;
  padding: 3rem 0 1rem 0;
}

h4 {
  font-family: helvetica;
  font-size: 3rem;
  margin-bottom: 0rem;
  padding: 1rem 0 1rem 0;
}

h5 {
  font-family: helvetica;
  font-size: 2.4rem;
  margin-bottom: 0rem;
  padding: 1rem 0 1rem 0;
}

h1, h2, h3, h4, h5 {
  color: black;
}

.btn {
  font-size: 1.8rem;
  font-family: "Open Sans";
  margin-bottom: 3.0rem;
  padding: 1rem 0 1rem 0;
}

p {
  margin-bottom: 0rem;
  padding: 1rem 0 1rem 0;
}

li {
}
p, li {
  font-family: helvetica;
  font-size: 1.8rem;
  color: black;
  /*background-color: blue;*/
}

/*Index.html*/

/*Navbar*/
.navbar-custom {
  font-family: times!important;
  background-color: white!important;
}

.nav-item > a {
  font-family: helvetica;
  color: black;
  font-size: 1.8rem;
}

/*Hero*/
.header1 {
  background-image: url("../images/brazil.jpg");
  /*background-position: 10rem 10rem;*/
  background-position: right;
  padding-bottom: 30rem;
  padding-top: 30rem;
  text-align: center;
  opacity: .6;
}

.header1 > h1 {
  font-family: helvetica, sans-serif;
  font-size: 4rem;
  /*font-weight: bold;*/
  color: white;
  line-height: 4rem;
  letter-spacing: .001rem;
}

.header1 > h2 {
  font-family: helvetica, sans-serif;
  font-size: 3rem;
  /*font-weight: bold;*/
  color: white;
  line-height: 3rem;
  letter-spacing: .001rem;
}

img[src="images/brazil.jpg"] {
  opacity: .1;
}

/*Projects*/
.case-study {
  padding-top: 10rem;
  padding-bottom: 10rem;
  align-items: center;
}

.case-study-1 {
  text-align: left;
}

.case-study-1 > h3 {
  padding-bottom: 2rem;
}

.case-study-1 > p {
  padding-bottom: 5rem;
}

.case-study-1 > .btn {
}

.case-study-2 {
}

img[src="images/Dashboard Image View.png"] {
  padding-top: 5rem;
}

.case-study-2 > img[src="images/house.jpg"] {
  width: 50rem;
  height: 50rem;
}

/*Bio.html*/

/*Header*/
.bio-header > h2 {
  padding-bottom: 10rem;
  padding-top: 10rem;
}

/*Images*/

img[src="images/milan-stairs.png"], img[src="images/paris1.JPG"], img[src="images/paris2.JPG"], img[src="images/beach.JPG"] {
  height: 30rem;
  padding: 1rem 0 1rem 0;
  margin-bottom: 10rem;
  margin-top: 10rem;
  width: 30rem;
}

img[src="images/Moodboard Portfolio.png"] {
  height:40rem;
  width:70rem;
  text-align: center;
}

.header-image > img {
  text-align: center;
}

/*Body*/

.bio-text > h2 {
  /*color: red;*/
  /*font-weight: 600;*/
}

.bio-text-image {
  text-align: center;
}

/*Project.html*/

.hero-container, .roles1, .introduction, .competitive-analysis1, .user-survey, .further-findings, .user-personas, .stories1, .user-flows1, .sketches-1, .branding1, .testing, .final-product1, .conclusion {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

/*Hero*/
img[src="SVGs/Logo Horizontal.svg"] {
  padding: 1rem 0 1rem 0;
  margin-bottom: 1rem;
}

.container-2 img{
  height: 40rem;
  margin: 3rem;
  width: 56rem;
}

.container-2 img + img{
  height: 50rem;
  width: 28rem;
}

.hero-container {
  text-align: center;
}

/*Roles*/

/*Introduction*/
.introduction {
  background-color: white;
}

.idea-image1 {
  margin-bottom: 1rem;
}

/*Competitive Analysis*/
.competitive-analysis{
  text-align: center;
}

img[src="SVGs/google-drive.svg"], img[src="SVGs/pinterest.svg"], img[src="SVGs/evernote.svg"]  {
  height: 10rem;
  padding: 1rem 0 1rem 0;
  margin-bottom: 1rem;
  width: 12rem;
}

/*User Survey*/
.user-survey{
  background-color: rgba(101, 143, 252, 1);
}

/*.user-survey > h2, p {
  color: white;
}*/

canvas {
  margin-bottom: 3rem;
}

.data1, .data2, .data3 > p {
  margin-bottom: 3rem;
}

/*Further Findings*/
.further-findings {
  background-color: white;
  /*background-image: url("../images/jack-finnigan-538627-unsplash.png");*/
}

/*User Personas*/
img[src="images/wyatt.png"], img[src="images/elaine.png"] {
  height: 20rem;
  padding: 1rem 0 1rem 0;
  margin-bottom: 1rem;
  width: 20rem;
}

.user-personas {
  text-align: center;
}

.user-personas > h2 {
  text-align: left;
}

/*User Stories*/
.stories, .stories1 {
  background-color: white;
}

/*tr {
  text-align: center;
}*/
@media (min-width: 576px) and (max-width: 767px) {
  .table-hover {
    display: none;
  }
}

th {
  font-weight: bold;
}

th, td {
  font-size: 1.8rem;
}

/*User Flows*/
.user-flows, .user-flows1 {
  background-color: white;
}

.user-flows2 {
  text-align: center;
}

img[src="images/User Flow1.png"] {
  margin-bottom: 3rem;
}

.button-test {
  text-align: center;
  background-color: white;
}

/*Sketches & Wireframes*/
img[src="SVGs/Group 37.svg"],img[src="images/Sign Up 1.1.png"],img[src="SVGs/Untitled-5.svg"],img[src="images/Create 2.1.png"] {
  height: 30rem;
  width: 30rem;
}

.signup-view, .dashboard-view {
  margin-bottom: 3rem;
}

/*Logo & Branding*/
.branding1, .branding {
  background-color: white;
}

.logo {
  text-align: center;
}

img[src="SVGs/Group 23.svg"] {
  height: 10rem;
  width: 10rem;
}

img[src="SVGs/Group 33.svg"],img[src="SVGs/Logo Horizontal.svg"] {
  height: 20rem;
  width: 20rem;
}

/*Mockups & Testing*/
img[src="images/Old Landing 2.png"],img[src="images/Landing Page new1 3.png"],img[src="images/Add Folder 1.png"],img[src="images/Dash Add [new].png"] {
  height: 40rem;
  width: 56rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

/*Final Product*/
.final-product, .final-product1 {
  background-color: white;
}

img[src="images/Dash Main.png"],img[src="images/Doc 2.1 crop.png"],img[src="images/Sign In 1.2.png"] {
  height: 40rem;
  width: 56rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

img[src="images/Mobile Doc 1.png"],img[src="images/Mobile Sign In 1.png"],img[src="images/Dashboard Mobile New.png"] {
  height: 50rem;
  width: 28rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.dashboard, .add-menu-mobile, .sign-in1 {
  align-items: baseline;
}
