
* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #FEE5E5;
}

h1 {
  font-family: helvetica;
  font-size: 3.6rem;
  margin-bottom: 0rem;
  padding: 1rem 0 1rem 0;
}

h2 {
  font-family: helvetica;
  font-size: 3.0rem;
  margin-bottom: 0rem;
  padding: 1rem 0 4rem 0;
  color: rgba(109, 109, 109, 1);
}

h3 {
  font-size: 2.4rem;
  margin-bottom: 0rem;
  padding: 3rem 0 1rem 0;
  color: black;
}

h4 {
  font-family: helvetica;
  font-size: 2rem;
  margin-bottom: 0rem;
  padding: 1rem 0 1rem 0;
}

h5 {
  font-family: helvetica;
  font-size: 1.8rem;
  margin-bottom: 0rem;
  padding: 1rem 0 1rem 0;
}

h4, h5 {
  color: black;
}

.btn {
  font-size: 1.8rem;
  font-family: "Open Sans";
  font-weight: lighter;
  padding: 1rem 0rem 1rem 0rem;
  max-width: 45rem;
  width: 80%
}

/*.btn:hover {
  background-color: rgba(187, 187, 187, 0.5);
}*/

.container {
  text-align: center;
}

p {
  margin-bottom: 1rem;
  padding: 1rem 0 1rem 0;
}

ul {
  padding: 1rem 0 1rem 0;
}

p, li, th, td {
  font-family: "Open Sans";
  font-size: 1.4rem;
  font-weight: lighter;
  color: black;
  /*background-color: blue;*/
}

/*Footer*/

footer {
  background-color: rgba(142, 142, 142, .2);
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 5rem;
}

i {
  font-size: 2.5rem;
  color: black;
  padding-left: 1rem;
}

.footer-row {
  align-items: center;
}

/*.footer-right {
  text-align: right;
  width: 50%;
  float: right;
}*/

.footer-left {
  width: 50%;
  align-items: center;
}

.footer-right {
  width: 50%;
}

.footer-right > h6 {
  /*width: 50%;*/
  float: right;
}

/*.footer-right > img {
  height: 7rem;
  width: 7rem;
  opacity: .5;
}*/


/*Index.html*/

/*Navbar*/
.navbar-custom {
  background-color: white!important;
  text-align: right;
}

.nav-item > a {
  font-family: helvetica;
  color: black;
  font-size: 1.2rem;
}

/*Hero*/
.header {
  background-image: url("../images/brazil.jpg");
  background-position: top right;
  padding-bottom: 15rem;
  padding-top: 20rem;
  text-align: right;
  opacity:;
}

.header1 > h1 {
  font-family: helvetica, sans-serif;
  font-size: 4.8rem;
  /*font-weight: bold;*/
  color: black;
  line-height: 1rem;
  /*font-weight: 100;*/
  letter-spacing: .001rem;
  padding-bottom: 4rem;
}

.header1 > h2 {
  font-family: helvetica, sans-serif;
  font-size: 4rem;
  /*font-weight: bold;*/
  color: black;
  /*font-weight: 100;*/
  line-height: 0rem;
  letter-spacing: .001rem;
}

.header2 > h5 {
  float: left;
}

.text-left {
  max-width: 40rem;
}

/*Projects*/
.case-study {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  align-items: center;
}

.case1 {
  /*background-color: white;*/
}

.case-study-1 {
  text-align: left;
}

.case-study-1 > h3 {
  padding-bottom: 2rem;
}

.case-study-1 > p {
  padding-bottom: 5rem;
  font-weight: lighter;
}

.case-study-2 {
  text-align: center;
}

img[src="images/dashboard-image-view.png"] {
  margin-top: 5rem;
  height: 30rem;
  width: 18rem;
}

.case-study-2 > img[src="images/house.jpg"] {
  width: 100%;
  height: auto;
}

img[src="images/paul-hermann-613048-unsplash.png"] {
  width: 100%;
  height: auto;
}

/*Bio.html*/

/*Header*/
.bio-header > h3 {
  padding-bottom: 5rem;
  padding-top: 10rem;
}

/*images*/

img[src="images/milan-stairs.png"], img[src="images/paris1.JPG"], img[src="images/paris2.JPG"], img[src="images/beach.JPG"] {
  height: 30rem;
  margin-bottom: 5rem;
  margin-top: 5rem;
  width: 30rem;
}

img[src="images/moodboard-portfolio.png"] {
  height:auto;
  width:60%;
  margin-bottom: 5rem;
  margin-top: 5rem;
  display: none;
}

.header-image > img {
  text-align: center;
}

/*Body*/

.bio-text > h2 {
  /*color: red;*/
  /*font-weight: 600;*/
}

.bio-text-image {
  text-align: center;
}

/*Contact.html*/
.contact {
  text-align: left;
  margin-top: 5rem;
}

.test1 > h1 {
  font-size: 6rem;
  color: black;
}

/*.test1 > h1:hover {
  color: red;
}*/

.contact3 > h1 {
  font-size: 6rem;
}


/*Project.html*/

.hero-container, .roles1, .introduction, .competitive-analysis1, .user-survey, .further-findings, .user-personas, .stories1, .user-flows1, .sketches-1, .branding1, .testing, .final-product1, .conclusion {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

/*Hero*/

/*Display for larger sizes*/
.container-2 img[src="images/dash-main.png"]{
  height: 20rem;
  width: 28rem;
  padding-top: 4rem;
  padding-bottom: 5rem;
}

.container-2 img + img{
  height: 40rem;
  width: 23rem;
  margin: 0rem;
  margin-bottom: 5rem;
  margin-top: 4rem;
}

.hero-container {
  text-align: center;
}

/*Roles*/

.roles1 {
  background-color: white;
}

.roles {
  background-image: url("../svg/blue1.svg");
  background-position: bottom;
  padding-top: 0rem;
}

.deliverables {
  background-image: url("../svg/blue2.svg");
  padding-top: 0rem;
}

.tools {
  background-image: url("../svg/blue1.svg");
  background-position: left;
  padding-top: 0rem;
}



/*Introduction*/
.introduction {
  background-color: white;
}

.intro1 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.idea-image1 {
  margin-bottom: 1rem;
}

img[src="images/landing-page-new-2.png"] {
  height: auto;
  width: 26rem;
  margin-top: 4rem
}

.text {
  padding: 0;
}

.text > p:nth-child(2n+1) {
  font-style: italic;
}

/*Competitive Analysis*/
.competitive-analysis{
  text-align: center;
}

img[src="svg/google-drive.svg"], img[src="svg/pinterest.svg"], img[src="svg/evernote.svg"]  {
  height: 7rem;
  padding: 1rem 0 1rem 0;
  margin-bottom: 1rem;
  width: 9rem;
}

/*User Survey*/
.user-survey{
  background-color: white;
}

canvas {
  /*margin: 0 auto;
  width: 30%;
  height: 30%;*/
}

.chart1 {
  display: flex;
  /*width: 50%;
  height: 50%;*/
  position: relative;
  margin: auto;
  height: auto;
  width: 50%;
}

.data1, .data2, .data3 > p {
  margin-bottom: 3rem;
}

/*Further Data*/
.further-findings {
  background-color: white;
  background-image: url("../images/jack-finnigan-538627-unsplash.png");
  background-position: right;
}


/*User Personas*/
img[src="images/wyatt.png"], img[src="images/elaine.png"] {
  height: 20rem;
  padding: 1rem 0 1rem 0;
  margin-bottom: 1rem;
  width: 20rem;
}

.user-personas {
  text-align: center;
}

.user-personas > h2 {
  text-align: left;
}

.next-steps > li {
  text-align: left;
}

/*User Stories*/
.stories, .stories1 {
  background-color: white;
}

.table1 {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;s
}



/*Display for larger sizes*/


th {
  font-weight: bold;
}

th, td {
  font-size: 1.8rem;
}

/*User Flows*/
.user-flows, .user-flows1 {
  background-color: white;
}


.user-flows2 {
  text-align: center;
}


/*Display for larger sizes*/
img[src="images/user-flow1.png"] {
  height: auto;
  width: 60%;
  margin-bottom: 5rem;
}

.user-flows2 {
  text-align: center;
}


/*Sketches & Wireframes*/
img[src="svg/group-37.svg"],img[src="images/sign-up-1.1.png"],img[src="svg/untitled-5.svg"],img[src="images/create-2.1.png"] {
  height: 25rem;
  width: 25rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.signup-view {
  margin-bottom: 5rem;
  /*text-align: center;
  align-items: center;*/
  display: flex;
  justify-content: center;
}

.sketch1 {
  align-items: center;
  justify-content: center;
  text-align: center;
}

/*Logo & Branding*/
.branding1, .branding {
  background-color: white;
}

.logo {
  text-align: center;
  align-items: center;
}

.concept {
  align-items: center;
}

.refinements {
  align-items: center;
}

.color-palette {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.color-palette > img {
  height: auto;
  width: 50%;
}

img[src="svg/group-23.svg"] {
  height: 10rem;
  width: 10rem;
}

img[src="svg/logo-horizontal.svg"] {
  height: auto;
  width: 30%;
}

.logo > img {
  height: 15rem;
  width: 15rem;
}

/*display on larger sizes*/
img[src="images/group-40.png"]{
  display: none;
}

/*Mockups & Testing*/
img[src="images/old-landing-2.png"],img[src="images/landing-page-new1-3.png"],img[src="images/add-folder-1.png"],img[src="images/dash-add-new.png"] {
  height: 20rem;
  width: 30rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

img[src="images/mobile-upload2-old.png"], img[src="images/dashboard-mobile-add-new.png"] {
  height: 33rem;
  width: 18rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.pricing, .add-menu, .add-menu-mobile {
  text-align: center;
}

/*Final Product*/
.final-product, .final-product1 {
  background-color: white;
}

img[src="images/dash-main.png"],img[src="images/doc-2.1-crop.png"],img[src="images/sign-in-1.png"] {
  height: 20rem;
  width: 30rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

img[src="images/mobile-doc-1.png"],img[src="images/sign-in-1-mobile.png"],img[src="images/dashboard-mobile-new.png"] {
  height: 33rem;
  width: 18rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

img[src="images/mobile-doc-1.png"], img[src="images/doc-2.1-crop.png"] {
  border: .1rem solid grey;
}

.dashboard, .add-menu, .sign-in1 {
  align-items: baseline;
  text-align: center;
}

/*Conclusion*/
.next-steps {
  list-style-type: disc;
  list-style-position: inside;
}

/*Media Queries*/

/*// Extra small devices (portrait phones, less than 576px)

// XSmall devices (landscape phones, 576px and up)*/
@media (min-width: 0px) {

  .container-2 img[src="images/dash-main.png"]{
    display: none;
  }


  table {
    display: none;
  }

  .table1 {
    display: none;
  }

  /*Display for larger sizes*/
  .user-flows2 {
    display: none;
  }

}
/*// Small devices (landscape phones, 576px and up)*/*/
@media (min-width: 576px) {

  /*Footer*/

  footer {
    background-color: rgba(142, 142, 142, .2);
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  i {
    font-size: 2.5rem;
    color: black;
    padding-left: 1rem;
  }


  /*Index.html*/

  /*Navbar*/
  .nav-item > a {
    font-family: helvetica;
    color: black;
    font-size: 1.2rem;
  }

  /*Hero*/


  .header1 {
    text-align: right;
  }

 .header1 > h1 {
   font-size: 7rem;
 }

  img[src="images/brazil.jpg"] {
    opacity: .1;
  }

  /*Projects*/
  .case-study {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    align-items: center;
  }

  .case-study-1 {
    text-align: left;
  }

  .case-study-1 > h3 {
    padding-bottom: 2rem;
  }

  .case-study-1 > p {
    padding-bottom: 5rem;
  }

  .case-study-2 {
    text-align: center;
  }

  img[src="images/dashboard-image-view.png"] {
    margin-top: 5rem;
    height: 30rem;
    width: 18rem;
  }

  .case-study-2 > img[src="images/house.jpg"] {
    width: 30rem;
    height: 30rem;
  }

  img[src="images/paul-hermann-613048-unsplash.png"] {
    width: 30rem;
    height: 30rem;
  }

  /*Bio.html*/

  /*Header*/
  .bio-header > h2 {
    padding-bottom: 10rem;
    padding-top: 10rem;
  }

  /*images*/

  img[src="images/milan-stairs.png"], img[src="images/paris1.JPG"], img[src="images/paris2.JPG"], img[src="images/beach.JPG"] {
    height: 30rem;
    padding: 1rem 0 1rem 0;
    margin-bottom: 10rem;
    margin-top: 10rem;
    width: 30rem;
  }

  img[src="images/moodboard-portfolio.png"] {
    display: inline;
  }

  .header-image > img {
    text-align: center;
  }

  /*Body*/

  .bio-text > h2 {
    /*color: red;*/
    /*font-weight: 600;*/
  }

  .bio-text-image {
    text-align: center;
  }

  /*Project.html*/

  .hero-container, .roles1, .introduction, .competitive-analysis1, .user-survey, .further-findings, .user-personas, .stories1, .user-flows1, .sketches-1, .branding1, .testing, .final-product1, .conclusion {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  /*Hero*/

  /*Display for larger sizes*/
  .container-2 img[src="images/dash-main.png"]{
    height: 20rem;
    width: 28rem;
    padding-top: 4rem;
    padding-bottom: 5rem;
    display: none;
  }

  .container-2 img + img{
    height: 40rem;
    width: 23rem;
    margin: 0rem;
    margin-bottom: 5rem;
    margin-top: 4rem;
  }

  .hero-container {
    text-align: center;
  }

  /*Roles*/

  /*Introduction*/
  .introduction {
    background-color: white;
  }

  .idea-image1 {
    margin-bottom: 1rem;
  }

  img[src="images/landing-page-new-2.png"] {
    height: auto;
    width: 26rem;
    margin-top: 4rem
  }

  /*Competitive Analysis*/
  .competitive-analysis{
    text-align: center;
  }

  img[src="svg/google-drive.svg"], img[src="svg/pinterest.svg"], img[src="svg/evernote.svg"]  {
    height: 7rem;
    padding: 1rem 0 1rem 0;
    margin-bottom: 1rem;
    width: 9rem;
  }

  canvas {
    margin-bottom: 1rem;
    margin-top: 4rem;
  }

  .data1, .data2, .data3 > p {
    margin-bottom: 3rem;
  }

  /*User Personas*/
  img[src="images/wyatt.png"], img[src="images/elaine.png"] {
    height: 20rem;
    padding: 1rem 0 1rem 0;
    margin-bottom: 1rem;
    width: 20rem;
  }

  .user-personas {
    text-align: center;
  }

  .user-personas > h2 {
    text-align: left;
  }

  /*User Survey*/
  .chart1 {
    width: 40%;
    height: auto;
  }


  /*User Stories*/
  .stories, .stories1 {
    background-color: white;
  }

  /*Display for larger sizes*/

  table {
    display: none;
  }

  .table1 {
    display: none;
  }

  th {
    font-weight: bold;
  }

  th, td {
    font-size: 1.8rem;
  }

  /*User Flows*/
  .user-flows, .user-flows1 {
    background-color: white;
  }

  .user-flows2 {
    text-align: center;
  }

  /*Display for larger sizes*/
  img[src="images/user-flow1.png"] {
    height: 30rem;
    width:30 rem;
    margin-bottom: 5rem;
    /*display: none;*/
  }

  .user-flows2 {
    display: none;
  }

  /*Sketches & Wireframes*/
  img[src="svg/group-37.svg"],img[src="images/sign-up-1.1.png"],img[src="svg/untitled-5.svg"],img[src="images/create-2.1.png"] {
    height: 25rem;
    width: 25rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .signup-view, .dashboard-view {
    margin-bottom: 5rem;
    text-align: center;
  }

  /*Logo & Branding*/
  .branding1, .branding {
    background-color: white;
  }

  .logo {
    text-align: center;
  }

  img[src="svg/group-23.svg"] {
    height: 10rem;
    width: 10rem;
  }

  /*img[src="svg/group-33.svg"],img[src="svg/logo-horizontal.svg"] {
    height: 20rem;
    width: 20rem;
  }*/

  /*display on larger sizes*/
  img[src="images/group-40.png"]{
    display: none;
  }

  /*Mockups & Testing*/
  img[src="images/old-landing-2.png"],img[src="images/landing-page-new1-3.png"],img[src="images/add-folder-1.png"],img[src="images/dash-add-new.png"] {
    height: 20rem;
    width: 30rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  img[src="images/mobile-upload2-old.png"], img[src="images/dashboard-mobile-add-new.png"] {
    height: 33rem;
    width: 18rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .pricing, .add-menu, .add-menu-mobile {
    text-align: center;
  }

  /*Final Product*/
  .final-product, .final-product1 {
    background-color: white;
  }

  img[src="images/dash-main.png"],img[src="images/doc-2.1-crop.png"],img[src="images/sign-in-1.png"] {
    height: 20rem;
    width: 30rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  img[src="images/mobile-doc-1.png"],img[src="images/sign-in-1-mobile.png"],img[src="images/dashboard-mobile-new.png"] {
    height: 33rem;
    width: 18rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .dashboard, .add-menu-mobile, .sign-in1 {
    align-items: baseline;
    text-align: center;
  }

  /*Conclusion*/
  .next-steps {
    list-style-type: disc;
    list-style-position: inside;
  }

}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

  h1 {
    font-size: 4.8rem;
  }

  h2 {
    font-size: 3.6rem;
  }

  h3 {
    font-size: 3.0rem;
  }

  h4 {
    font-size: 2.4rem;
  }

  h5 {
    font-size: 2.0rem;
  }


  p, li {
    font-size: 1.8rem;
  }

  /*Footer*/

  footer {
    background-color: rgba(142, 142, 142, .2);
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  i {
    font-size: 2.5rem;
    color: black;
    padding-left: 1rem;
  }

  .footer-row {
    align-items: center;
  }

  .footer-col-2 {
    text-align: right;
  }

  .footer-col-2 > img {
    height: 7rem;
    width: 7rem;
    opacity: .5;
  }

  .footer-row2 {
    text-align: center;
  }

  /*Index.html*/

  /*Navbar*/

  .nav-item > a {
    font-family: helvetica;
    color: black;
    font-size: 1.4rem;
  }

  /*Hero*/

  .header1 {
    text-align: right;
  }

 .header1 > h1 {
   font-size: 7rem;
 }

  /*Projects*/
  .case-study {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    align-items: center;
  }

  .case-study-1 > h3 {
    padding-bottom: 2rem;
  }

  .case-study-1 > p {
    padding-bottom: 5rem;
  }

  img[src="images/dashboard-image-view.png"] {
    margin-top: 5rem;
    height: 40rem;
    width: 25rem;
  }

  .case-study-2 > img[src="images/house.jpg"] {
    height: 35rem;
    width: 35rem;
  }

  img[src="images/paul-hermann-613048-unsplash.png"] {
    width: 35rem;
    height: 35rem;
  }

  /*Bio.html*/

  /*Header*/
  .bio-header > h2 {
    padding-bottom: 10rem;
    padding-top: 10rem;
  }

  /*images*/

  img[src="images/milan-stairs.png"], img[src="images/paris1.JPG"], img[src="images/paris2.JPG"], img[src="images/beach.JPG"] {
    height: 30rem;
    padding: 1rem 0 1rem 0;
    margin-bottom: 10rem;
    margin-top: 10rem;
    width: 30rem;
  }

  img[src="images/moodboard-portfolio.png"] {
    margin-bottom: 5rem;
    margin-top: 5rem;
    display: inline;
  }

  .header-image > img {
    text-align: center;
  }

  /*Body*/

  .bio-text > h2 {
    /*color: red;*/
    /*font-weight: 600;*/
  }

  .bio-text-image {
    text-align: center;
  }

  /*Project.html*/

  .hero-container, .roles1, .introduction, .competitive-analysis1, .user-survey, .further-findings, .user-personas, .stories1, .user-flows1, .sketches-1, .branding1, .testing, .final-product1, .conclusion {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  /*Hero*/


  .container-2 img[src="images/dash-main.png"]{
    height: 40rem;
    display: inline;
    width: 50rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-right: 5rem;
  }

  .container-2 img + img{
    height: 40rem;
    width: 23rem;
    margin: 0rem;
    margin-bottom: 5rem;
    margin-top: 4rem;
  }

  .hero-container {
    text-align: center;
  }

  /*Roles*/

  /*Introduction*/

  .idea-image1 {
    margin-bottom: 1rem;
  }

  img[src="images/landing-page-new-2.png"] {
    height: auto;
    width: 26rem;
    margin-top: 4rem
  }

  /*Competitive Analysis*/
  .competitive-analysis{
    padding-top: 2rem;
  }

  img[src="svg/google-drive.svg"], img[src="svg/pinterest.svg"], img[src="svg/evernote.svg"]  {
    height: 7rem;
    padding: 1rem 0 1rem 0;
    margin-bottom: 1rem;
    width: 9rem;
  }

  /*User Survey*/
  .data1, .data3 {
    margin-left: 6rem;
    margin-right: 6rem;
  }

  /*User Personas*/
  img[src="images/wyatt.png"], img[src="images/elaine.png"] {
    height: 25rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: 25rem;
  }


  /*Display for larger sizes*/
  table {
    display: inline;
  }

  .table1 {
    display: block;
  }

  /*Display for larger sizes*/
  /*img[src="images/user-flow1.png"] {
    display: inline;
  }*/

  .user-flows2 {
    display: block;
  }

  /*Sketches & Wireframes*/
  img[src="svg/group-37.svg"],img[src="images/sign-up-1.1.png"],img[src="svg/untitled-5.svg"],img[src="images/create-2.1.png"] {
    height: 30rem;
    width: 30rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  /*Logo & Branding*/

  img[src="svg/group-23.svg"] {
    height: 15rem;
    width: 15rem;
  }

  /*img[src="svg/group-33.svg"],img[src="svg/logo-horizontal.svg"] {
    height: 25rem;
    width: 25rem;
  }*/

  .logo > img {
    height: 20rem;
    width: 20rem;
  }

  img[src="images/group-40.png"]{
    display: inline;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  /*Mockups & Testing*/
  img[src="images/old-landing-2.png"],img[src="images/landing-page-new1-3.png"],img[src="images/add-folder-1.png"],img[src="images/dash-add-new.png"] {
    height: 25rem;
    width: 35rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  img[src="images/mobile-upload2-old.png"], img[src="images/dashboard-mobile-add-new.png"] {
    height: 38rem;
    width: 23rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  /*Final Product*/

  img[src="images/dash-main.png"],img[src="images/doc-2.1-crop.png"],img[src="images/sign-in-1.png"] {
    height: 25rem;
    width: 35rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  img[src="images/mobile-doc-1.png"],img[src="images/sign-in-1-mobile.png"],img[src="images/dashboard-mobile-new.png"] {
    height: 38rem;
    width: 23rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }


}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  h1 {
    font-size: 4.8rem;
    padding: 1rem 0 1rem 0;
  }

  h2 {
    font-size: 3.6rem;
    padding: 3rem 0 3rem 0;
  }

  h3 {
    font-size: 3.0rem;
    padding: 3rem 0 3rem 0;
  }

  h4 {
    font-size: 2.4rem;
  }

  h5 {
    font-size: 2.0rem;
  }

  p, li {
    font-size: 1.8rem;
  }

  /*Footer*/

  footer {
    background-color: rgba(142, 142, 142, .2);
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  i {
    font-size: 2.5rem;
    color: black;
    padding-left: 1rem;
  }

  .footer-row {
    align-items: center;
  }

  .footer-col-2 {
    float: right;
  }

  .footer-col-2 > img {
    height: 7rem;
    width: 7rem;
    opacity: .5;
  }

  .footer-row2 {
    text-align: center;
  }

  /*Index.html*/

  /*Navbar*/

  .nav-item > a {
    font-family: helvetica;
    color: black;
    font-size: 1.4rem;
  }

  /*Hero*/

  .header1 {
    text-align: right;
  }

 .header1 > h1 {
   font-size: 7rem;
 }

  /*Projects*/
  .case-study {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    align-items: center;
  }

  .case-study-1 > h3 {
    padding-bottom: 2rem;
  }

  .case-study-1 > p {
    padding-bottom: 5rem;
  }

  img[src="images/dashboard-image-view.png"] {
    margin-top: 5rem;
    height: 40rem;
    width: 25rem;
  }

  .case-study-2 > img[src="images/house.jpg"] {
    height: 35rem;
    width: 35rem;
  }

  img[src="images/paul-hermann-613048-unsplash.png"] {
    width: 35rem;
    height: 35rem;
  }

  /*Bio.html*/

  /*Header*/
  .bio-header > h2 {
    padding-bottom: 10rem;
    padding-top: 10rem;
  }

  /*images*/

  img[src="images/milan-stairs.png"], img[src="images/paris1.JPG"], img[src="images/paris2.JPG"], img[src="images/beach.JPG"] {
    height: 30rem;
    padding: 1rem 0 1rem 0;
    margin-bottom: 10rem;
    margin-top: 10rem;
    width: 30rem;
  }

  img[src="images/moodboard-portfolio.png"] {
    margin-bottom: 10rem;
    margin-top: 10rem;
    display: inline;
  }

  .header-image > img {
    text-align: center;
  }

  /*Body*/

  .bio-text > h2 {
    /*color: red;*/
    /*font-weight: 600;*/
  }

  .bio-text-image {
    text-align: center;
  }

  /*Project.html*/

  .hero-container, .roles1, .introduction, .competitive-analysis1, .user-survey, .further-findings, .user-personas, .stories1, .user-flows1, .sketches-1, .branding1, .testing, .final-product1, .conclusion {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  /*Hero*/


  .container-2 img[src="images/dash-main.png"]{
    height: 40rem;
    display: inline;
    width: 50rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-right: 5rem;
  }

  .container-2 img + img{
    height: 40rem;
    width: 23rem;
    margin: 0rem;
    margin-bottom: 5rem;
    margin-top: 4rem;
  }

  .hero-container {
    text-align: center;
  }

  /*Introduction*/

  .idea-image1 {
    margin-bottom: 1rem;
  }

  img[src="images/landing-page-new-2.png"] {
    height: auto;
    width: 26rem;
    margin-top: 4rem
  }

  /*Competitive Analysis*/
  .competitive-analysis{
    padding-top: 2rem;
  }

  img[src="svg/google-drive.svg"], img[src="svg/pinterest.svg"], img[src="svg/evernote.svg"]  {
    height: 7rem;
    padding: 1rem 0 1rem 0;
    margin-bottom: 1rem;
    width: 9rem;
  }

  /*User Survey*/

  .data1, .data2, .data3 > p {
    margin-bottom: 3rem;
  }

  .data1, .data3 {
    margin-left: 7rem;
    margin-right: 7rem;
  }

  /*User Personas*/
  img[src="images/wyatt.png"], img[src="images/elaine.png"] {
    height: 25rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: 25rem;
  }

  /*Display for larger sizes*/
  table {
    display: inline;
  }

  /*Display for larger sizes*/
  img[src="images/user-flow1.png"] {
    display: inline;
  }

  .user-flows2 {
    display: block;
  }

  /*Sketches & Wireframes*/
  img[src="svg/group-37.svg"],img[src="images/sign-up-1.1.png"],img[src="svg/untitled-5.svg"],img[src="images/create-2.1.png"] {
    height: 35rem;
    width: 35rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  /*Logo & Branding*/

  img[src="svg/group-23.svg"] {
    height: 15rem;
    width: 15rem;
  }


  img[src="svg/logo-horizontal.svg"] {
    height: auto;
    width: 20%;
  }

  img[src="images/group-40.png"]{
    display: inline;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  /*Mockups & Testing*/
  img[src="images/old-landing-2.png"],img[src="images/landing-page-new1-3.png"],img[src="images/add-folder-1.png"],img[src="images/dash-add-new.png"] {
    height: 25rem;
    width: 35rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  img[src="images/mobile-upload2-old.png"], img[src="images/dashboard-mobile-add-new.png"] {
    height: 38rem;
    width: 23rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  /*Final Product*/

  img[src="images/dash-main.png"],img[src="images/doc-2.1-crop.png"],img[src="images/sign-in-1.png"] {
    height: 25rem;
    width: 35rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  img[src="images/mobile-doc-1.png"],img[src="images/sign-in-1-mobile.png"],img[src="images/dashboard-mobile-new.png"] {
    height: 38rem;
    width: 23rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  h1 {
    font-size: 4.8rem;
  }

  h2 {
    font-size: 3.6rem;
  }

  h3 {
    font-size: 3.0rem;
  }

  h4 {
    font-size: 2.4rem;
  }

  h5 {
    font-size: 2.0rem;
  }


  p, li {
    font-size: 1.8rem;
  }

  /*Footer*/

  footer {
    background-color: rgba(142, 142, 142, .2);
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  i {
    font-size: 2.5rem;
    color: black;
    padding-left: 1rem;
  }

  .footer-row {
    align-items: center;
  }

  .footer-col-2 {
    text-align: right;
  }

  .footer-col-2 > img {
    height: 7rem;
    width: 7rem;
    opacity: .5;
  }

  .footer-row2 {
    text-align: center;
  }

  /*Index.html*/

  /*Navbar*/

  .nav-item > a {
    font-family: helvetica;
    color: black;
    font-size: 1.4rem;
  }

  /*Hero*/

  .header1 {
    text-align: right;
  }

 .header1 > h1 {
   font-size: 7rem;
 }

  /*Projects*/
  .case-study {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    align-items: center;
  }

  .case-study-1 > h3 {
    padding-bottom: 2rem;
  }

  .case-study-1 > p {
    padding-bottom: 5rem;
  }

  img[src="images/dashboard-image-view.png"] {
    margin-top: 5rem;
    height: 40rem;
    width: 25rem;
  }

  .case-study-2 > img[src="images/house.jpg"] {
    height: 35rem;
    width: 35rem;
  }

  img[src="images/paul-hermann-613048-unsplash.png"] {
    width: 35rem;
    height: 35rem;
  }

  /*Bio.html*/

  /*Header*/
  .bio-header > h2 {
    padding-bottom: 10rem;
    padding-top: 10rem;
  }

  /*images*/

  img[src="images/milan-stairs.png"], img[src="images/paris1.JPG"], img[src="images/paris2.JPG"], img[src="images/beach.JPG"] {
    height: 30rem;
    padding: 1rem 0 1rem 0;
    margin-bottom: 10rem;
    margin-top: 10rem;
    width: 30rem;
  }

  img[src="images/moodboard-portfolio.png"] {
    margin-bottom: 10rem;
    margin-top: 10rem;
    display: inline;
  }

  .header-image > img {
    text-align: center;
  }

  /*Body*/

  .bio-text > h2 {
    /*color: red;*/
    /*font-weight: 600;*/
  }

  .bio-text-image {
    text-align: center;
  }

  /*Project.html*/

  .hero-container, .roles1, .introduction, .competitive-analysis1, .user-survey, .further-findings, .user-personas, .stories1, .user-flows1, .sketches-1, .branding1, .testing, .final-product1, .conclusion {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  /*Hero*/

  .container-2 img[src="images/dash-main.png"]{
    height: 40rem;
    display: inline;
    width: 50rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-right: 5rem;
  }

  .container-2 img + img{
    height: 40rem;
    width: 23rem;
    margin: 0rem;
    margin-bottom: 5rem;
    margin-top: 4rem;
  }

  .hero-container {
    text-align: center;
  }

  /*Introduction*/

  .idea-image1 {
    margin-bottom: 1rem;
  }

  img[src="images/landing-page-new-2.png"] {
    height: auto;
    width: 26rem;
    margin-top: 4rem
  }

  /*Competitive Analysis*/
  .competitive-analysis{
    padding-top: 2rem;
  }

  img[src="svg/google-drive.svg"], img[src="svg/pinterest.svg"], img[src="svg/evernote.svg"]  {
    height: 7rem;
    padding: 1rem 0 1rem 0;
    margin-bottom: 1rem;
    width: 9rem;
  }

  /*User Survey*/
  canvas {
  }

  .data1, .data2, .data3 > p {
    margin-bottom: 3rem;
  }

  /*User Personas*/
  img[src="images/wyatt.png"], img[src="images/elaine.png"] {
    height: 25rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: 25rem;
  }

  /*Display for larger sizes*/
  table {
    display: inline;
  }

  /*Display for larger sizes*/
  img[src="images/user-flow1.png"] {
    display: inline;
  }

  .user-flows2 {
    display: block;
  }

  /*Sketches & Wireframes*/
  img[src="svg/group-37.svg"],img[src="images/sign-up-1.1.png"],img[src="svg/untitled-5.svg"],img[src="images/create-2.1.png"] {
    height: 35rem;
    width: 35rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  /*Logo & Branding*/

  img[src="svg/group-23.svg"] {
    height: 15rem;
    width: 15rem;
  }

  /*img[src="svg/group-33.svg"],img[src="svg/logo-horizontal.svg"] {
    height: 25rem;
    width: 25rem;
  }*/

  img[src="images/group-40.png"]{
    display: inline;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  /*Mockups & Testing*/
  img[src="images/old-landing-2.png"],img[src="images/landing-page-new1-3.png"],img[src="images/add-folder-1.png"],img[src="images/dash-add-new.png"] {
    height: 30rem;
    width: 40rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  img[src="images/mobile-upload2-old.png"], img[src="images/dashboard-mobile-add-new.png"] {
    height: 38rem;
    width: 23rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  /*Final Product*/

  img[src="images/dash-main.png"],img[src="images/doc-2.1-crop.png"],img[src="images/sign-in-1.png"] {
    height: 30rem;
    width: 40rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  img[src="images/mobile-doc-1.png"],img[src="images/sign-in-1-mobile.png"],img[src="images/dashboard-mobile-new.png"] {
    height: 38rem;
    width: 23rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}
