
* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: white;
}

h1 {
  font-family: helvetica;
  font-size: 3.6rem;
  font-weight: bold;
  margin-bottom: 0rem;
  padding-bottom: 1rem;
}

h2 {
  font-family: helvetica;
  font-size: 2.8rem;
  font-weight: bolder;
  margin-bottom: 0rem;
  padding-bottom: 8px;
  color: #313131;
}

h3 {
  font-size: 2.2rem;
  margin-bottom: 0rem;
  /* padding: 2rem 0 1rem 0; */
  font-weight: 300;
  color: #6D6C71;
}

h4 {
  font-family: "helvetica", sans-serif;
  font-size: 2rem;
  margin-bottom: 0rem;
  padding: 2rem 0 1rem 0;
}

h5 {
  font-family: "helvetica", sans-serif;
  font-size: 1.8rem;
  margin-bottom: 0rem;
  padding: 1rem 0 1rem 0;
}

h4, h5 {
  color: black;
}

.font_2 {
  font-family: "poynter-oldstyle-display", serif;
  font-style: italic;
  font-weight: 800;
  color: black;
}

.font_3 {
  font-family: "poynter-oldstyle-display", serif;
  font-style: italic;
  font-weight: 800;
  color: black;
  /* text-decoration: underline; */
}

.font_4 {
  /* text-decoration: underline; */
  /* font-style: italic; */
  /* color: #7B832E; */
  /* color: #D0A929; */
}

.btn {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  padding: 1rem 0rem 1rem 0rem;
  max-width: 40rem;
  width: 80%;
  color: black;
}

ul {
  margin-bottom: 0rem;
}

p, li, th, td {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: lighter;
  color: black;
}

/*Footer*/

footer {
  background-color: #C8DAE4;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

i {
  font-size: 2.5rem;
  color: black;
  padding-left: 1rem;
}

.footer-row {
  align-items: center;
  width: 100%;
  margin: auto;
  position: relative;
}

.footer-left {
  width: 50%;
  align-items: center;
  float: left;
  padding-left: 0rem;
}

.footer-right {
  width: 50%;
  padding-right: 0rem;
}

.footer-right > h6 {
  float: right;
}

.fa-linkedin {
  padding-left: 0rem;
}

img[src="images/99d.png"] {
  max-width: 3rem;
  height: auto;
}

/* Marketplace */

.splash {
  background-color: #C8DAE4;
}

.splash-inner {
  width: 90%;
  margin: auto;
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.intro {
  background-color: white;
}

.intro-inner {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.splash-inner > h2 {
  font-size: 4.0rem;
  line-height: 95%;
  color: #383838;
}

img[src="svg/mkt_new.svg"] {
  max-width: 15rem;
  height: auto;
  padding-bottom: 8px;
}

img[src="svg/roles.svg"], img[src="svg/deliverables.svg"], img[src="svg/tools.svg"]{
  /* min-width: 4rem; */
  width: 10%;
  max-width: 5rem;
  min-width: 3rem;
  height: auto;
  padding-bottom: 1rem;
}

img[src="svg/deliverables.svg"], img[src="svg/tools.svg"]{
  padding-top: 3rem;
}

.roles > h2 {
  color: black;
  /* font-size: 2.4rem; */
}

.deliverables > h2 {
  color: black;
  /* font-size: 2.4rem; */
}

.tools > h2 {
  color: black;
  /* font-size: 2.4rem; */
}

.tools, .deliverables {
  padding-top: 2rem;
}

.overview-top, .overview-inner, .user-survey2-inner, .user-data-inner, .mkt-personas-inner, .competitors-inner {
  width: 90%;
  margin: auto;
}

.overview-outer {
  background-color: #EFEEEC;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

img[src="images/product-detail-womens.png"] {
  max-width: 30rem;
  height: auto;
}

hr {
  width: 15%;
  color: #B1B1B1;
  border-top: 3px solid;
  border-color: inherit;
  margin: auto;
  text-align: center;
  padding-bottom: 1rem;
}

.user-survey2, .user-data-inner {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.list-questions {
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.list-questions > li {
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
}

.btn-mkt {
  filter: drop-shadow(2px 4px 4px #6C8DA0);
  font-weight: bold;
}

.btn-mkt2 {
  filter: drop-shadow(2px 4px 4px black);
  background-color: #EFEEEC;
  font-weight: bold;
  color: #313131;
  border-color: #EFEEEC;
}

.user-data {
  background-color: #313131;
}

.user-data-inner > h3 {
  color: #EFEEEC;
}

.user-data-inner > h2 {
  color: #EFEEEC;
}

.chart-mkt, .chart-mkt2 {
  display: flex;
  margin: auto;
  height: auto;
  max-width:30rem;
  min-width: 25rem;
  width: 70%;
}

.chart-mkt2 {
  padding-top: 5rem;
}

.mkt-data1 > h3 {
  color: #EFEEEC;
  font-weight: bold;
  font-size: 2.8rem;
}

.mkt-data1 > p {
  color: #EFEEEC;
  font-weight: normal;
}

.mkt-data2 > h3 {
  color: #EFEEEC;
  font-weight: bold;
  font-size: 2.8rem;
}

.mkt-data2 > p {
  color: #EFEEEC;
  font-weight: normal;
}

.mkt-data3 > h3 {
  color: #EFEEEC;
  font-weight: bold;
  font-size: 2.8rem;
}

.mkt-data3 > p {
  color: #EFEEEC;
  font-weight: normal;
}

.mkt-data4 > h3 {
  color: #EFEEEC;
  font-weight: bold;
  font-size: 2.8rem;
}

.mkt-data4 > p {
  color: #EFEEEC;
  font-weight: normal;
}
.mkt-data5 > h3 {
  color: #EFEEEC;
  font-weight: bold;
  font-size: 2.8rem;
}

.mkt-data5 > p {
  color: #EFEEEC;
  font-weight: normal;
}

.mkt-data6 > h3 {
  color: #EFEEEC;
  font-weight: bold;
  font-size: 2.8rem;
}

.mkt-data6 > p {
  color: #EFEEEC;
  font-weight: normal;
}

.mkt-data {
  padding-top: 3rem;
}

.mkt-data-next {
  padding-bottom: 2rem;
}

.mkt-data2, .mkt-data3, .mkt-data4, .mkt-data5, .mkt-data6 {
  padding-top: 1rem;
}

.mkt-personas {
  background-color: #EFEEEC;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.user1 > h3 {
  font-weight: bold;
  font-size: 2.0rem;
  color: #383838;
  padding-bottom: 5px;
  padding-top: 8px;
}

.user1 {
  width: 90%;
  margin: auto;
  padding-top: 1rem;
  padding-bottom: 5rem;
}

.user2 {
  width: 90%;
  margin: auto;
  padding-top: 1rem;
}

.user2 > h3 {
  font-weight: bold;
  font-size: 2.0rem;
  color: #383838;
  padding-bottom: 5px;
  padding-top: 8px;
}

.user2 > p {
  margin-bottom: 0rem;
  font-weight: normal;
  color: #646567;
}

.user1 > p {
  margin-bottom: 0rem;
}

.user-name {
  background-image: url("../images/carine.png");
  background-size: cover;
  background-position: center;
  text-align: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100%;
}

.user-name2 {
  background-image: url("../images/jax.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: left;
}

.personas-header {
  width: 90%;
  margin: auto;
  padding-bottom: 5rem;
}

.item1 {
  padding-bottom: 6px;
}

.list1 {
  list-style-type: disc;
  list-style-position: inside;
}

.user-name {
  text-align: left;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.user-name-new > h3 {
  font-size: 2.0rem;
  font-weight: bold;
  color: #EFEEEC;
}

.user-name-new {
  width: 90%;
  margin: auto;
}

.user-name2 {
  text-align: left;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.user-name-new2 > h3 {
  font-size: 2.0rem;
  font-weight: bold;
  color: #EFEEEC;
}

.user-name-new2 {
  width: 90%;
  margin: auto;
}

.adobe1 {
  font-family: gastromond, sans-serif;
  font-weight: 400;
  font-size: 5.4rem;
  font-style: normal;
  color: #F7931E;
}

.competitors {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

img[src="svg/reformation.svg"] {
  width: 60%;
  height: auto;
  padding-bottom: 1.5rem;
}

img[src="svg/etsy.svg"] {
  width: 20%;
  height: auto;
  padding-bottom: 1.5rem;
}

img[src="svg/everlane.svg"] {
  width: 60%;
  height: auto;
  padding-bottom: 1.5rem;
}

.reformation, .etsy, .everlane {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.reformation > hr {
  text-align: left;
}

.branding-mkt-inner {
  padding-top: 5rem;
  padding-bottom: 5rem;
  width: 90%;
  margin: auto;
}

.branding-mkt {
  background-color: #ECECEC;
}

img[src="images/mkt-color-palette.png"] {
  width: 100%;
  margin: auto;
}

img[src="images/mkt-mood.png"] {
  width: 100%;
  margin: auto;
  padding-top: 2.6rem;
  padding-bottom: 3rem;
}

.textures {
  /* padding-top: 2rem; */
}

.textures > h3 {
  padding-bottom: 8px;
}

.ul-test > li {
  display: list-item;
  list-style-type: disc;
  list-style-position: inside;
}

.test-branding {
  padding-top: 3rem;
}

.branding-mkt-logo > h3 {
  font-size: 2.2rem;
  font-weight: bold;
}

.branding-mkt-intro1 > h3 {
  font-size: 2.2rem;
  font-weight: bold;
}

.branding-mkt-intro {
  /* background-image: url("../images/mkt-mood.png"); */
  background-size: cover;
  background-position: center;
  /* background-attachment: fixed;
  background-repeat: no-repeat; */
}

img[src="svg/mkt-logo-1.svg"], img[src="svg/mkt-logo-2.svg"]  {
  width: 51%;
  height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
}

img[src="svg/mkt-logo-3.svg"] {
  width: 51%;
  height: auto;
  padding-top: 6px;
  padding-bottom: 6px;
}

img[src="svg/mkt-logo-or.svg"] {
  width: 90%;
  height: auto;
  padding-top: 1.5rem;
}

img[src="svg/brand_fonts.svg"] {
  width: 100%;
  height: auto;
}

img[src="images/ig_mkt2.png"] {
  width: 100%;
  height: auto;
  margin: auto;
}

.branding-mkt-2.1 {
  text-align: center;
}

img[src="images/testing-mkt.png"] {
  width: 100%;
  height: auto;
  margin: auto;
}

img[src="images/sketches-mkt.png"] {
  width: 100%;
  height: auto;
  margin: auto;
}

.wireframes-mkt-inner {
  text-align: center;
}

img[src="images/mockup_market.png"] {
  width: 100%;
  height: auto;
  margin: auto;
}

img[src="images/maze-mkt.png"] {
  width: 100%;
  height: auto;
  margin: auto;
}

img[src="images/maze-mkt2.png"] {
  width: 100%;
  height: auto;
  margin: auto;
}

.visual-design-mkt-inner {
  text-align: center;
  background-color: #383838;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

img[src="images/landing-mkt.png"] {
  width: 95%;
  height: auto;
  margin: auto;
}

/*Index.html*/

/*Navbar*/
.navbar-custom {
  text-align: center;
  width: 80%;
  position: relative;
  margin: auto;
  padding-left: 0rem;
  padding-right: 0rem;
  padding-top: 2rem;
  padding-bottom: .5rem;
}

.navbar-custom1 {
  background-color: #FEE5E5!important;
}

.nav-new {
  background-color: #FEE5E5;
  padding-left: 0rem;
  padding-right: 0rem;
}

.nav-new-mkt {
  background-color: rgba(200, 218, 228, 1);
}

.navbar-mkt1 {
  background-color: rgba(200, 218, 228, 1)!important;
}

.nav-item > a {
  font-family: helvetica;
  color: black;
  font-size: 1.2rem;
}

img[src="svg/logo-8.svg"] {
  max-width: 6rem;
  height: auto;
}

/*Hero*/
.header {
  background-color: #FEE5E5;
  padding-top: 17rem;
  padding-bottom: 12rem;
}

.header-new {
  width: 75%;
  margin: auto;
  position: relative;
}

.header-new > h1 {
  color: #383838;
  font-weight: bolder;
  text-align: left;
  padding-bottom: 1rem;
}

.header-new2 {
  width: 100%;
  margin: auto;
}


/*Projects*/
.case1 {
  background-color: #C8DAE4;
}

.case-study {
  align-items: center;
  margin: auto;
  position: relative;
  padding-left: 0rem;
  padding-right: 0rem;
  background-image: none;
  padding-top: 10rem;
  padding-bottom: 10rem;
  width: 90%;
  text-align: center;
}

.case-study-1 {
  padding-left: 0rem;
  padding-right: 0rem;
}

.case-study-1 > h1 {
  padding-bottom: 5px;
  padding-top: 3rem;
  color: #383838;
  font-weight: bolder;
  line-height: 110%;
  text-align: center;
}

.case-study-1-1 > h3 {
  padding-top: 1rem;
  padding-bottom: 4rem;
  font-weight: normal;
  padding-right: 0rem;
  font-size: 2rem;
  color: black;
  text-align: center;
}

.case2 {
  background-color: #F4E3D3;
}

.case-study-2 > h1 {
  color: black;
}

.case-study-2-2 > h3 {
  color: black;
}

img[src="svg/idea_logo_new.svg"] {
  max-width: 20rem;
  height: auto;
  padding-bottom: 2rem;
}

.case3 {
  background-color: #313131;
  /* background-image: url("../images/dj.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; */
}

.case-title > h1 {
  color: white;
}

.case-title > h3 {
  color: white;
}

.align1 {
}

img[src="svg/josh_lacoste_svg_dark.svg"] {
  padding-bottom: 2rem;
  max-width: 20rem;
}

img[src="images/josh_lacoste_mobile.png"] {
  width: 40%;
  height: auto;
  max-width: 30rem;
  filter: drop-shadow(2px 4px 4px black);
  padding-top: 5rem;
}

img[src="images/idea_asset.png"] {
  width: 100%;
  height: auto;
  max-width: 50rem;
  filter: drop-shadow(2px 4px 4px black);
  padding-top: 5rem;
}


.btn3 {
  /* color: white;
  background-color: #8699A3;
  border-color: #8699A3; */
  color: #313131;
  background-color: white;
  border-color: white;
  filter: drop-shadow(2px 4px 3px #61737E);
  font-weight: bold;
  border-radius: 7px;
}

.btn4 {
  filter: drop-shadow(2px 4px 3px black);
  color: #313131;
  background-color: white;
  border-color: white;
}

/* img[src="svg/mkt_new.svg"] {
  padding-bottom: 2rem;
} */

img[src="images/landing_desktop_mkt.png"] {
  width: 100%;
  height: auto;
  max-width: 70rem;
  filter: drop-shadow(2px 4px 4px #61737E);
  padding-top: 5rem;
}

.case-study-3 {
  padding-left: 0rem;
  flex-direction: row-reverse;
}

.case-study-1 > .container {
  text-align: center;
  padding-left: 0rem;
  padding-right: 0rem;
}

.container {
  text-align: center;
  padding-top: 2rem;
}

.stories1 > .container {
  padding-top: 3rem;
}

.user-flows1 > .container {
  padding-top: 3rem;
}

.branding1 > .container {
  padding-top: 0rem;
}

.final-product1 > .container {
  padding-top: 2rem;
}

.case-study-1 > .container {
  padding-top: 0rem;
}

.case-study-2 {
  padding-left: 0rem;
  padding-right: 0rem;
  text-align: center;
  width: 90%;
  margin: auto;
}

.contact2 {
  padding-top: 6rem;
  padding-bottom: 5rem;
  /* background-color: #FFE3E4; */
  background-color: #C8DAE4;
}

.contact2 > h1 {
  /* color: black; */
  color: #383838;
  text-align: center;
  padding-bottom: 1rem;
  padding-top: 0rem;
}

.contact2 > .container {
  padding-left: 0rem;
  padding-right: 0rem;
  padding-top: 1rem;
}

.btn2 {
  color: #383838;
  font-weight: bold;
  border-radius: 7px;
  filter: drop-shadow(2px 2px 2px #8B8B8B);
}

.arrow-new {
  text-align: center;
}

img[src="images/iphone-image.png"] {
  width: 80%;
  height: auto;
  max-width: 23rem;
  min-width: 20rem;
  padding-top: 5rem;
  float: left;
}

img[src="images/group9.png"] {
  width: 100%;
  height: auto;
  display: none;
}

img[src="images/group2.png"] {
  width: 100%;
  height: auto;
  display: inline;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

/*Bio.html*/

/*Header*/
.header {
  width: 100%;
  padding-right: 0rem;
  margin-left: 0rem;
  margin-right: 0rem;
  padding-left: 0rem;
}

.header-new > h3 {
  font-weight: 300;
  padding-top: 0rem;
}

.bio-text {
  width: 90%;
  margin-bottom: 10rem;
}

.bio-text > p {
  font-weight: lighter;
}

.header-image {
  align-items: center;
  text-align: center;
  padding: 2rem;
  padding-top: 5rem;
  position: relative;
}

img[src="images/milan-stairs.png"] {
  width: 45%;
  height: auto;
  opacity: .8;
  min-width: 20rem;
}

img[src="images/milan.svg"] {
  width: 11%;
  height: auto;
  padding-top: 3rem;
  min-width: 6rem;
  margin: auto;
  position: relative;
}

/*images*/
.header-image > img {
  text-align: center;
}

/*Body*/
.bio-text-image {
  text-align: center;
}

/*Project.html*/

.roles1, .introduction, .competitive-analysis1, .user-survey, .further-findings, .user-personas, .stories1, .user-flows1, .sketches-1, .branding1, .testing, .final-product1, .conclusion {
  padding-top: 5rem;
  padding-bottom: 5rem;
  width: 90%;
}

/*Hero*/
.hero-container > img {
  padding-bottom: 1rem;
  max-width: 25rem;
}

.hero-container > h3 {
  padding-bottom: 2rem;
}

.container-2 {
  align-items: baseline;
}

img[src="images/iphone.png"] {
  width: 50%;
  min-width: 16rem;
  max-width: 18rem;
  height: auto;
  padding-top: 3rem;
  padding-bottom: 5rem;
  vertical-align: bottom;
}

img[src="images/mac.png"] {
  width: 52rem;
  height: auto;
  vertical-align: bottom;
}

img[src="images/group-together.png"] {
  padding-top: 3rem;
  width: 85%;
  height: auto;
}

.hero-container {
  text-align: center;
  background-image: url("../images/city1.png");
  background-position: center;
  background-size: cover;
}

.nav-new2, .nav-new1 {
  background-color: white;
}

.nav-new1 {
  padding-bottom: 1rem;
}

.hero-container2 {
  width: 90%;
  margin: auto;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.hero-container2 > h3 {
  font-weight: 300;
}

/*Roles*/

.roles1 {
  background-color: white;
  padding-top: 5rem;
}

.roles > h3 {
  padding-top: 0rem;
}

.roles, .deliverables {
  padding-top: 0rem;
  border-right: 1px solid black;
}

.tools {
  padding-top: 0rem;
  padding-bottom: 0rem;
  margin-bottom: 0rem;
}

/*Introduction*/

.introduction2 {
  width: 100%;
  background-color: rgba(248, 248, 248, 1);
}

.intro1 {
  align-items: center;
}

img[src="images/landing-page-new-2.png"] {
  height: auto;
  width: 100%;
  max-width: 34rem;
  border-radius: .4rem;
}

.text > p:nth-child(2n+1) {
  font-style: italic;
}

/*Competitive Analysis*/
.competitive-analysis{
  text-align: left;
  padding-top: 0rem;
}

img[src="svg/google-drive.svg"], img[src="svg/pinterest.svg"], img[src="svg/evernote.svg"]  {
  height: auto;
  padding-top: 1rem;
  margin-bottom: 1rem;
  width: 30%;
  max-width: 7rem;
  min-width: 5rem;
}

.google, .pinterest, .evernote {
  padding-bottom: 1rem;
}

.evernote {
  padding-bottom: 0rem;
}

.evernote > p {
  padding-bottom: 0rem;
  margin-bottom: 0rem;
}

/*User Survey*/

.chart1 {
  display: flex;
  position: relative;
  margin: auto;
  height: auto;
  margin-top: 0rem;
  max-width: 45rem;
  min-width: 25rem;
  width: 50%;
}

.user-survey > p:nth-of-type(2n) {
  text-align: center;
}

.user-survey2 {
  width: 100%;
  background-color: rgba(248, 248, 248, 1);
}

/*Further Data*/

.further-findings {
  /*background-image: url("../images/city.png");
  background-size: cover;
  background-position: right center;*/
  background-color: #FEE5E5;
  width: 100%;
  padding-right: 0rem;
  margin-left: 0rem;
  margin-right: 0rem;
  padding-left: 0rem;
}

.further-findings > h2 {
  padding-left: 5rem;
}

.further-findings1, .further-findings2 {
  width: 90%;
  position: relative;
  margin: auto;
}

.data1, .data2, .data3 {
  margin-bottom: 3rem;
}

.further-findings2 > .data3 {
  margin-bottom: 1rem;
}

.data1 > h3 {
  padding-top: 1rem;
  padding-bottom: 0rem;
  font-family: "Helvetica";
  font-size: 3rem;
  font-weight: bold;
  color: black;

}

.data2 > h3 {
  padding-top: 1rem;
  padding-bottom: 0rem;
  font-family: "Helvetica";
  font-size: 3rem;
  font-weight: bold;
  color: black;
}

.data3 > h3 {
  padding-top: 1rem;
  padding-bottom: 0rem;
  font-family: "Helvetica";
  font-size: 3rem;
  font-weight: bold;
  color: black;
}

.data1 > p {
  padding-top: 0rem;
  font-weight: normal;
}

.data2 > p {
  padding-top: 0rem;
  font-weight: normal;
}

.data3 > p {
  padding-top: 0rem;
  font-weight: normal;
}

/*User Personas*/
img[src="images/wyatt.png"], img[src="images/elaine.png"] {
  height: auto;
  padding: 1rem 0 0rem 0;
  margin-bottom: 1rem;
  width: 35%;
}

.user-personas2 {
  width: 100%;
  background-color: rgba(248, 248, 248, 1);
}

.elaine {
  padding-top: 6rem;
}

.wyatt {
  padding-right: 3rem;
}

.elaine {
  padding-left: 3rem;
}

.wyatt > h4:nth-of-type(1) {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.wyatt > p:nth-of-type(1) {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.elaine > h4:nth-of-type(1) {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.elaine > p:nth-of-type(1) {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.user-personas {
  text-align: center;
}

.wyatt > p:nth-of-type(2n) {
  display: block;
  text-align: left;
}

.elaine > p:nth-of-type(2n) {
  display: block;
  text-align: left;
}

.user-personas > h2 {
  text-align: left;
}

.next-steps > li {
  text-align: left;
}

/*User Stories*/
.stories, .stories1 {
  background-color: white;
}

.table1 {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;s
}

th {
  font-weight: bold;
}

th, td {
  font-size: 1.8rem;
}

/*User Flows*/
.user-flows, .user-flows1, .user-flows-new {
  background-color: rgba(248, 248, 248, 1);
}

.user-flows2 {
  text-align: center;
}


/*Display for larger sizes*/
img[src="images/user-flow1.png"] {
  height: auto;
  width: 100%;
  margin-bottom: 5rem;
  display: none;
}

.user-flows2 {
  text-align: center;
}

/*Sketches & Wireframes*/

.signup-view {
  margin-bottom: 2rem;
  margin-top: 3rem;
  justify-content: center;
  align-items: center;
}

.dashboard-view {
  align-items: center;
}

.sketch1 {
  align-items: center;
  justify-content: center;
  text-align: center;
}

img[src="images/landing-page-sketch.jpg"] {
  height: auto;
  width: 100%;
  opacity: .8;
  margin-bottom: 2rem;
}

img[src="images/landing-wireframe.png"] {
  height: auto;
  width: 100%;
  border: 1px solid grey;
  margin-top: 2rem;
}

img[src="images/dash-sketch.jpg"] {
  height: auto;
  width: 100%;
  opacity: .8;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

img[src="images/create-2.1.png"] {
  border: 1px solid grey;
  height: auto;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

/*Logo & Branding*/
.branding-new, .branding1, .branding2 {
  background-color: rgba(248, 248, 248, 1);
}

.branding2 {
  padding-left: 0rem;
}

.branding2 > p {
  margin-bottom: 0rem;
}

.logo {
  text-align: center;
  align-items: center;
}

.concept {
  align-items: center;
  padding-top: 2rem;
}

.refinements {
  align-items: center;
  padding-top: 2rem;
}

.logo-new > h3 {
  padding-bottom: 0rem;
  padding-top: 1rem;
}

.logo-new > p {
  margin-bottom: 0rem;
}

.color-palette {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.color-palette > img {
  height: auto;
  width: 50%;
}

img[src="svg/group-23.svg"] {
  height: auto;
  width: 80%;
  max-width: 18rem;
  margin-bottom: 2rem;
  padding-top: 1rem;
}

img[src="svg/group-33.svg"] {
  height: auto;
  width: 90%;
  max-width: 20rem;
  margin-bottom: 2rem;
  padding-top: 1rem;
}

img[src="svg/logo-horizontal.svg"] {
  height: auto;
  width: 90%;
  max-width: 20rem;
  margin-bottom: 2rem;
  padding-top: 1rem;
}

img[src="svg/palettenew.svg"] {
  height: auto;
  width: 75%;
  max-width: 50rem;
}

/*Mockups & Testing*/
img[src="images/old-landing-2.png"],img[src="images/landing-page-new1-3.png"],img[src="images/add-folder-1.png"],img[src="images/dash-add-new.png"] {
  height: auto;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  max-width: 45rem;
}

img[src="images/mobile-upload2-old.png"], img[src="images/dashboard-mobile-add-new.png"] {
  height: auto;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  max-width: 25rem;
}

.pricing, .add-menu, .add-menu-mobile {
  text-align: center;
  align-items: center;
}

.fa-arrow-right {
  margin-left: 1rem;
  margin-right: 1rem;
  padding-left: 0rem;
}

.fa-arrow-down {
  text-align: center;
  position: relative;
  margin: auto;
}

/*Final Product*/

img[src="images/doc-2.1-crop.png"],img[src="images/sign-in-1.png"] {
  height: auto;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  max-width: 55rem;
}

.final-product-new {
  width: 100%;
  background-color: rgba(248, 248, 248, 1);
}

img[src="images/dash-main.png"] {
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
}

.dashboard {
  align-items: center;
}

img[src="images/mobile-doc-1.png"],img[src="images/sign-in-1-mobile.png"],img[src="images/dashboard-mobile-new.png"] {
  height: auto;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  max-width: 25rem;
}

img[src="images/mobile-doc-1.png"], img[src="images/doc-2.1-crop.png"], img[src="images/old-landing-2.png"], img[src="images/dash-main.png"], img[src="images/dashboard-mobile-new.png"], img[src="images/mobile-upload2-old.png"], img[src="images/add-folder-1.png"], img[src="images/dash-add-new.png"] {
  border: .09rem solid rgba(200, 200, 200, 1);
}

.dashboard, .add-menu, .sign-in1 {
  align-items: baseline;
  text-align: center;
}

img[src="images/old-landing-2.png"], img[src="images/add-folder-1.png"], img[src="images/mobile-upload2-old.png"], img[src="images/dash-main.png"], img[src="images/doc-2.1-crop.png"], img[src="images/sign-in-1.png"]{
  margin-top: 4rem;
}

img[src="images/landing-page-new1-3.png"], img[src="images/dash-add-new.png"], img[src="images/dashboard-mobile-add-new.png"], img[src="images/dashboard-mobile-new.png"], img[src="images/mobile-doc-1.png"], img[src="images/sign-in-1-mobile.png"] {
  margin-bottom: 3rem;
}

/*Conclusion*/
.next-steps {
  list-style-type: disc;
  list-style-position: inside;
}

.conclusion > .container {
  padding-top: 10rem;
}

/*Media Queries*/

/*// Extra small devices (portrait phones, less than 576px)

// XSmall devices (landscape phones, 576px and up)*/
@media (min-width: 0px) {

 img[src="images/group-together.png"] {
   width: 100%;
 }

  .roles, .deliverables {
    padding-top: 0rem;
    border-right: 0px solid black;
  }

  .case-study {
    /*padding-top: 4rem;*/
  }

  img[src="images/mac.png"] {
    width: 35rem;
  }

  table {
    display: none;
  }

  .table1 {
    display: none;
  }

  /*Display for larger sizes*/
  .user-flows2 {
    display: none;
  }

  .fa-arrow-down {
    display: inline;
  }

  .fa-arrow-right {
    display: none;
  }

  .further-header {
    width: 85%;
    margin: auto;
  }
}
/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

  /*Footer*/

  img[src="images/group-together.png"] {
    width: 85%;
    height: auto;
  }

  img[src="images/landing-wireframe.png"] {
    width: 80%;
  }

  img[src="images/landing-page-sketch.jpg"] {
    width: 90%;
  }

  img[src="images/landing-page-new-2.png"] {
    width: 80%;
  }

  img[src="images/dash-sketch.jpg"] {
    width: 90%;
  }

  img[src="images/create-2.1.png"] {
    width: 80%;
  }

  img[src="images/mobile-upload2-old.png"], img[src="images/dashboard-mobile-add-new.png"] {
    width: 80%;
  }

  img[src="images/mobile-doc-1.png"],img[src="images/sign-in-1-mobile.png"],img[src="images/dashboard-mobile-new.png"] {
    width: 80%;
  }

 .further-header {
   padding-left: 1.5rem;
   padding-right: 1.5rem;
 }

 img[src="images/group-together.png"] {
   padding-top: 0rem;
 }

 img[src="images/group9.png"] {
   width: 100%;
   height: auto;
   display: inline;
 }

 img[src="images/group2.png"] {
   width: 100%;
   height: auto;
   display: none;
 }

 .case-study {
   /*padding-top: 5rem;*/
 }

 .roles > h3 {
   padding-top: 2rem;
 }

 img[src="images/landing-wireframe.png"] {
   margin-top: 0rem;
 }

 img[src="svg/group-23.svg"] {
   padding-top: 0rem;
 }

 img[src="svg/group-33.svg"] {
   padding-top: 0rem;
 }

 img[src="svg/logo-horizontal.svg"] {
   padding-top: 0rem;
 }

 .color-palette {
   margin-top: 4rem;
   margin-bottom: 5rem;
 }

 img[src="images/iphone-image.png"] {
   float: right;
 }

 .google-new > p {
   margin-bottom: 0rem;
   padding-bottom: 0rem;
 }

 .google-new {
   padding-bottom: 0rem;
 }

 .data-new {
   margin-bottom: 0rem;
 }

 .data-new > p {
   padding-bottom: 0rem;
   margin-bottom: 0rem;
 }

 img[src="images/dash-sketch.jpg"] {
   margin-top: 0rem;
   margin-bottom: 0rem;
 }

 .hero-container2 > h4 {
   padding-top: 4rem;
 }

 img[src="svg/group-23.svg"] {
   margin-bottom: 0rem;
 }

 img[src="svg/group-33.svg"] {
   margin-bottom: 0rem;
 }

 img[src="svg/logo-horizontal.svg"] {
   margin-bottom: 0rem;
 }

  img[src="images/iphone-image.png"] {
    padding-top: 0rem;
  }

  i {
    font-size: 2.5rem;
    color: black;
    padding-left: 1rem;
  }

  .case-study-2 {
    text-align: center;
  }

  /*Index.html*/

  /*Navbar*/
  .nav-item > a {
    font-size: 1.2rem;
  }

  /*Projects*/

  .case-study-1 > h3 {
    padding-bottom: 2rem;
  }

  .case-study-1 > p {
    padding-bottom: 5rem;
  }

  /*Header*/
  .bio-header > h2 {
    padding-bottom: 10rem;
    padding-top: 10rem;
  }

  /*images*/

  img[src="images/moodboard-portfolio.png"] {
    display: inline;
  }

  .header-image > img {
    text-align: center;
  }

  /*Body*/
  .bio-text-image {
    text-align: center;
  }

  /*Roles*/
  .roles, .deliverables {
    padding-top: 0rem;
    border-right: 1px solid black;
  }

  img[src="images/landing-page-new-2.png"] {
    float: right;
  }

 /*Further Findings*/
  .further-findings1, .further-findings2 {
    width: 80%;
    margin: auto;
  }

  .hero-container2 {
    width: 80%;
  }

  /*User Personas*/
  .user-personas {
    text-align: center;
  }

  .user-personas > h2 {
    text-align: left;
  }

  .elaine {
    padding-top: 0rem;
  }

  /*User Stories*/
  .stories, .stories1 {
    background-color: white;
  }

  table {
    display: none;
  }

  .table1 {
    display: none;
  }

  th, td {
    font-size: 1.8rem;
  }

  /*User Flows*/


  .user-flows2 {
    display: none;
  }

  /*Sketches & Wireframes*/

  .signup-view, .dashboard-view {
    margin-bottom: 5rem;
    text-align: center;
  }

  .fa-arrow-right {
    display: inline;
  }

  .fa-arrow-down {
    display: none;
  }

  /*Logo & Branding*/

  .logo {
    text-align: center;
  }

  /*Final Product*/

  .dashboard, .add-menu-mobile, .sign-in1 {
    align-items: baseline;
    text-align: center;
  }

}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

  h1 {
    font-size: 4.8rem;
  }

 .case-study-1 {
   text-align: left;
 }

  .case-title {
    text-align: left;
  }

  .data1 > h3 {
    font-size: 3.6rem;
  }

  .data2 > h3 {
    font-size: 3.6rem;
  }

  .data3 > h3 {
    font-size: 3.6rem;
  }

  img[src="images/mac.png"] {
    width: 40rem;
  }

  img[src="images/iphone.png"] {
    padding-top: 0rem;
    padding-bottom: 0rem;
  }

  .footer-row {
    width: 85%;
  }

  .container-2 {
    padding-top: 4rem;
  }

  .navbar-custom {
    width: 85%;
  }

  .roles, .deliverables {
    padding-top: 0rem;
    border-right: 1px solid black;
  }

  .fa-arrow-right {
    display: inline;
  }

  .fa-arrow-down {
    display: none;
  }

  h2 {
    font-size: 3.6rem;
    padding-bottom: 8px;
  }

  h3 {
    font-size: 3.0rem;
  }

  .case-study-3 > h3 {
    font-size: 3rem;
    color: white;
    font-weight: lighter;
  }

  h4 {
    font-size: 2.4rem;
  }

  h5 {
    font-size: 2.0rem;
  }


  p, li {
    font-size: 1.8rem;
  }

  .btn {
    font-size: 1.8rem;
  }

  /*Footer*/

  i {
    font-size: 2.5rem;
    color: black;
    padding-left: 1rem;
  }

  .footer-row {
    align-items: center;
  }

  .footer-col-2 {
    text-align: right;
  }

  .footer-col-2 > img {
    height: 7rem;
    width: 7rem;
    opacity: .5;
  }

  .footer-row2 {
    text-align: center;
  }

  /*Navbar*/

  .nav-item > a {
    font-family: helvetica;
    color: black;
    font-size: 1.4rem;
  }

  /*Projects*/

  .case-study-1 > h3 {
    padding-bottom: 2rem;
  }

  .case-study-1 > p {
    padding-bottom: 5rem;
  }

  /*Header*/
  .bio-header > h2 {
    padding-bottom: 10rem;
    padding-top: 10rem;
  }

  /*images*/
  .header-image > img {
    text-align: center;
  }

  /*Body*/
  .bio-text-image {
    text-align: center;
  }

  /*Project.html*/
  .roles1, .introduction, .competitive-analysis1, .user-survey, .user-personas, .stories1, .user-flows1, .sketches-1, .branding1, .testing, .final-product1, .conclusion {
    padding-top: 6rem;
    padding-bottom: 6rem;
    width: 85%;
  }

  .further-findings {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .hero-container2 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  }

  .header-new, .bio-text, .case-study {
    width: 85%;
  }

  .hero-container > h3 {
    padding-bottom: 6rem;
  }

  img[src="images/user-flow1.png"] {
    height: auto;
    width: 100%;
    margin-bottom: 5rem;
    display: inline;
  }

  /*Display for larger sizes*/
  table {
    display: inline;
  }

  .table1 {
    display: block;
  }

  .user-flows2 {
    display: block;
  }

  .further-findings1, .further-findings2 {
    width: 80%;
    margin: auto;
  }


  /*Mockups & Testing*/
  img[src="images/landing-page-new1-3.png"],img[src="images/add-folder-1.png"] {
    width: 100%;
    margin-top: 0rem;
    margin-bottom: 0rem;
  }

  img[src="images/old-landing-2.png"] {
    margin-top: 0rem;
    margin-bottom: 0rem;
  }

  img[src="images/dash-add-new.png"] {
    margin-top: 0rem;
    margin-bottom: 0rem;
  }

  img[src="images/mobile-upload2-old.png"], img[src="images/dashboard-mobile-add-new.png"] {
    width: 80%;
    margin-top: 0rem;
    margin-bottom: 0rem;
  }

  /*Final Product*/
  img[src="images/dash-main.png"],img[src="images/doc-2.1-crop.png"],img[src="images/sign-in-1.png"] {
    margin-top: 0rem;
    margin-bottom: 0rem;
  }

  img[src="images/mobile-doc-1.png"],img[src="images/sign-in-1-mobile.png"],img[src="images/dashboard-mobile-new.png"] {
    margin-top: 0rem;
    margin-bottom: 0rem;
  }

  img[src="images/old-landing-2.png"], img[src="images/add-folder-1.png"], img[src="images/mobile-upload2-old.png"], img[src="images/dash-main.png"], img[src="images/doc-2.1-crop.png"], img[src="images/sign-in-1.png"]{
    margin-top: 0rem;
  }

  img[src="images/landing-page-new1-3.png"], img[src="images/dash-add-new.png"], img[src="images/dashboard-mobile-add-new.png"], img[src="images/dashboard-mobile-new.png"], img[src="images/mobile-doc-1.png"], img[src="images/sign-in-1-mobile.png"] {
    margin-bottom: 0rem;
  }

  .pricing, .add-menu, .sign-in1, .dashboard {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }

  .add-menu-mobile {
    padding-top: 4rem;
    padding-bottom: 0rem;
  }


}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

  h1 {
    font-size: 4.8rem;
    padding-bottom: 1rem;
  }

  .btn2 {
    font-size: 1.6rem;
  }

  .bio-text {
    margin-bottom: 15rem;
  }

  .header-new > h1 {
    text-align: left;
  }

  .header-new2 {
    width: 100%;
    margin: 0;
  }

  .case-study-1 > h1 {
    text-align: left;
  }

  .competitive-analysis{
    text-align: center;
  }

  .case-title > h3 {
    text-align: left;
  }

  .case-study-1 > .container {
    text-align: left;
  }

  .case-study {
    width: 90%;
    padding-top: 15rem;
    padding-bottom: 15rem;
  }

  img[src="images/mac.png"] {
    width: 50rem;
  }

  .hero-container > img {
    padding-bottom: 4rem;
  }

  .container-2 {
    padding-top: 5rem;
  }

  .roles, .deliverables {
    padding-top: 0rem;
    border-right: 1px solid black;
  }

  .fa-arrow-right {
    display: inline;
  }

  .fa-arrow-down {
    display: none;
  }

  h2 {
    font-size: 3.6rem;
  }

  h3 {
    font-size: 3.0rem;
    padding: 2rem 0 1rem 0;
  }

  h4 {
    font-size: 2.4rem;
  }

  h5 {
    font-size: 2.0rem;
  }

  p, li {
    font-size: 1.8rem;
  }

  /*Footer*/

  i {
    font-size: 2.5rem;
    color: black;
    padding-left: 1rem;
  }

  .footer-row {
    align-items: center;
  }

  .footer-col-2 {
    float: right;
  }

  .footer-col-2 > img {
    height: 7rem;
    width: 7rem;
    opacity: .5;
  }

  .footer-row2 {
    text-align: center;
  }

  /*Navbar*/

  .nav-item > a {
    font-family: helvetica;
    color: black;
    font-size: 1.4rem;
  }

  .header2 {
    padding: 16rem;
  }

  .header {
    padding-top: 20rem;
    padding-bottom: 15rem;
  }

  .header-new2 > h3 {
    text-align: left;
  }

  .header-image {
    padding-top: 7rem;
    padding-bottom: 4rem;
  }

  img[src="images/dashboard-image-view.png"] {
  }

  /*Projects*/

  .case-study-1 > h3 {
    padding-bottom: 2rem;
  }

  .case-study-1 > p {
    padding-bottom: 5rem;
  }


  /*Bio.html*/

  /*Header*/
  .bio-header > h2 {
    padding-bottom: 10rem;
    padding-top: 10rem;
  }

  /*images*/
  .header-image > img {
    text-align: center;
  }

  /*Body*/
  .bio-text-image {
    text-align: center;
  }

  /*Project.html*/
  .roles1, .introduction, .competitive-analysis1, .user-survey, .user-personas, .stories1, .user-flows1, .sketches-1, .branding1, .testing, .final-product1, .conclusion {
    width: 70%;
  }

  .header-new, .bio-text, .case-study {
    width: 70%;
  }

  /*User Survey*/
  .data1, .data3 {
    margin-left: 7rem;
    margin-right: 7rem;
  }

  table {
    display: inline;
  }

  img[src="images/user-flow1.png"] {
    display: inline;
  }

  .user-flows2 {
    display: block;
  }

  .further-findings1, .further-findings2 {
    width: 70%;
    position: relative;
    margin: auto;
    padding-left: 0rem;
  }

  .further-header {
    width: 70%;
    position: relative;
    margin: auto;
  }

  .hero-container2 {
    width: 70%;
  }

  img[src="images/group-40.png"]{
  }

}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  h1 {
    font-size: 4.8rem;
  }

  .roles, .deliverables {
    padding-top: 0rem;
    border-right: 1px solid black;
  }

  .header-new2 {
    width: 70%;
  }

  .fa-arrow-right {
    display: inline;
  }

  .fa-arrow-down {
    display: none;
  }

  h2 {
    font-size: 3.6rem;
  }

  h3 {
    font-size: 3.0rem;
  }

  h4 {
    font-size: 2.4rem;
  }

  h5 {
    font-size: 2.0rem;
  }


  p, li {
    font-size: 1.8rem;
  }

  /*Footer*/

  i {
    font-size: 2.5rem;
    color: black;
    padding-left: 1rem;
  }


  .footer-col-2 {
    text-align: right;
  }

  .footer-col-2 > img {
    height: 7rem;
    width: 7rem;
    opacity: .5;
  }

  .footer-row2 {
    text-align: center;
  }

  /*Navbar*/

  .nav-item > a {
    font-family: helvetica;
    color: black;
    font-size: 1.4rem;
  }

  /*Projects*/

  .case-study-1 > h3 {
    padding-bottom: 2rem;
  }

  .case-study-1 > p {
    padding-bottom: 5rem;
  }


  /*Bio.html*/

  /*Header*/
  .bio-header > h2 {
    padding-bottom: 10rem;
    padding-top: 10rem;
  }

  img[src="images/moodboard-portfolio.png"] {
    margin-bottom: 10rem;
    margin-top: 10rem;
    display: inline;
  }

  .header-image > img {
    text-align: center;
  }

  /*Body*/

  .bio-text-image {
    text-align: center;
  }

  table {
    display: inline;
  }

  .user-flows2 {
    display: block;
  }

}
